nav {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.25rem;
}

#indexNav {
    background: rgb(0, 66, 117);
}

#mainNav {
    background: rgba(38,50,56 ,1);
}

#cardSection {
    background: rgba(66,165,245 ,1);
}

#patatapSec {
    background: rgba(120,144,156 ,1);
}

#rgbSec {
    background: rgba(96,125,139 ,1);
}

#blogSec {
    background: rgba(84,110,122 ,1);
}

#purrSec {
    background: rgba(69,90,100 ,1);
}

#currencySec {
    background: rgba(55,71,79 ,1);
}

#indexSec {
    background: rgba(25,118,210 ,1);
}

#eventuallySec {
    background: rgba(38,50,56 ,1);
}

.divider {
    height: inherit;
    width: 0.2rem;
    background: white;
}

.project {
    border: 1px solid white;
    border-radius: 0.5rem;
}

.card-img-top {
    filter: invert(1);
}

.card {
    border: 1px solid white;
}

.navbar-toggler:focus {
    outline-style: none;
}