nav {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.25rem;
}

#indexNav {
    background: rgb(0, 66, 117);
}

#mainNav {
    background: rgba(0,77,64 ,1);
}

#cardSection {
    background: rgba(66,165,245 ,1);
}

#patatapSec {
    background: rgba(0,137,123 ,1);
}

#rgbSec {
    background: rgb(210,37,26);
}

#purrSec {
    background: rgba(136,14,79 ,1);
}

#blogSec {
    background: rgba(103,58,183 ,1);
}

#indexSec {
    background: rgba(25,118,210 ,1);
}

.divider {
    height: inherit;
    width: 0.2rem;
    background: white;
}

.project {
    border: 1px solid white;
    border-radius: 0.5rem;
}

.card-img-top {
    filter: invert(1);
}

.card {
    border: 1px solid white;
}

.navbar-toggler:focus {
    outline-style: none;
}