body {
    background: #232323;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 137, 123, 0.8);
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

#clr {
    font-size: 200%;
}

h1 {
    line-height: 1.1;
    color: white;
    text-align: center;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background: steelblue;
    color: white;
}

#message {
    display: inline-block;
    width: 20%;
}

button {
    outline: none;
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.25s;
}

button:hover {
    color: white;
    background-color: steelblue;
}

#rst {
    outline: none;
}